In [22]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [14]:
df = pd.read_csv("mediclaim.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [15]:
# Feature Engineering
df_encoded = pd.get_dummies(df, drop_first=True)

In [16]:
# Extract X and y
X = df_encoded.drop("charges", axis=1)
y = df_encoded["charges"]

In [17]:
# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [19]:
lr = LinearRegression()
lr.fit(X_train_scaled,y_train)
y_pred_lr = lr.predict(X_test_scaled)

In [20]:
# Evaluation function
def evaluate(y_true, y_pred):
    return {
        "MAE": mean_absolute_error(y_true, y_pred),
        "MSE": mean_squared_error(y_true, y_pred),
        "RMSE": np.sqrt(mean_squared_error(y_true, y_pred)),
        "R2": r2_score(y_true, y_pred)
    }
lr_metrics = evaluate(y_test, y_pred_lr)

In [23]:
# Ridge Regression
ridge = Ridge(alpha=1.0)
ridge.fit(X_train_scaled, y_train)
ridge_metrics = evaluate(y_test, ridge.predict(X_test_scaled))

In [26]:
# Lasso Regression
lasso = Lasso(alpha=0.01)
lasso.fit(X_train_scaled, y_train)
lasso_metrics = evaluate(y_test, lasso.predict(X_test_scaled))

In [27]:
# comparison
# Comparison
results = pd.DataFrame({
    "Linear Regression": lr_metrics,
    "Ridge Regression": ridge_metrics,
    "Lasso Regression": lasso_metrics
})

print(results)

      Linear Regression  Ridge Regression  Lasso Regression
MAE        4.181194e+03      4.182797e+03      4.181198e+03
MSE        3.359692e+07      3.360497e+07      3.359696e+07
RMSE       5.796285e+03      5.796980e+03      5.796288e+03
R2         7.835930e-01      7.835411e-01      7.835927e-01